/*just for space*/

.space_50 {
    padding-top: 50px;
}

.space_100 {
    padding-top: 100px;
}

.space_200 {
    padding-top: 200px;
}

.space_600 {
    padding-top: 600px;
}

.space_800 {
    padding-top: 800px;
}

.space_1000 {
    padding-top: 1000px;
}

.space_1200 {
    padding-top: 1200px;
}

.space_1500 {
    padding-top: 1500px;
}
