.body_1 {/*for home*/
    background: url("../picture/natori.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #04668d;
    background-position: center top;
    background-attachment: fixed;/*背景鎖定*/
    padding-top: 0px;
    margin: 0px;
    font-family: 'Noto Sans TC';
}

.body_2 {/*for others*/
    background: url("");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #04668d;
    background-position: center top;
    padding-top: 0px;
    margin: 0px;
    font-family: 'Noto Sans TC';
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 15px;
    
}
a:hover {/*懸停*/
    color: #ffcc00;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.p_1 {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.p_2 {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.button_1 {
    background-color: #03405a;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
    width:150px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 15px;
    cursor:pointer;
}
    .button_1:hover{
        background-color: #03405a;
        color: #ffcc00;
    }

.button_2 {
    background-color: #6e87b9;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 2px 2px 5px #404f6c;
    text-decoration: none;
    color: #0e3150;
    font-size: 20px;
    margin: 0 15px;
    cursor: pointer;
}

    .button_2:hover {
        background-color: #0b4c5d;
        color: #1bb6dc;
    }